*{
    margin: 0;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}
.choices{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
}
img{
    height: 8rem;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    border: 2px solid transparent;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
img:hover{
    border: 2px solid black;
    cursor: pointer;
}

.score{
    text-align: center;
    font-size: 3rem;
}
.player-score{
    text-align: center;
    font-size: 3rem;
}
.computer-score{
    text-align: center;
    font-size: 3rem;
}
.live-score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
}
.result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#msg{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: centre;
    background-color: black;
    color:aliceblue;
    padding: 1rem;
    border-radius: 20%;
}